# Nubits.com Redirects (made by proteanx pro@proteanx.com)

# Old url's redirected to new (Direct links, no query)
Redirect 301 "/exchanges/nubits-exchanges" "https://www.nubits.com/trade/nubits"
Redirect 301 "/exchanges/nushares-exchanges" "https://www.nubits.com/trade/nushares"
Redirect 301 "/about/faqs" "https://www.nubits.com/learn/faqs"
Redirect 301 "/about/price-stability" "https://www.nubits.com/learn/price-stability"
Redirect 301 "/about/process-map" "https://www.nubits.com/learn/process-map"
Redirect 301 "/about/source-code" "https://www.nubits.com/learn/source-code"
Redirect 301 "/about/white-paper" "https://www.nubits.com/white-paper"

