// header.scss
// -----------------------------------------------------------------

header {
  .navbar {
  }
  .navbar-inverse {
    .navbar-nav {
      ul > li {
        display: inline-block !important;
        & > a {
          color: #fff;
          font-weight: 500;
          padding-left: 20px;
          padding-right: 20px;
          &:hover {
            background-color: #423F40;
          }
        }
      }
      // Download Wallet Button
      & > ul > .last a {
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 10px 15px;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 27px;
        @include transition(150ms);
        &:hover {
          text-decoration: none;
          background-color: #fff;
          color: $navbar-inverse-bg;
        }
      }
    }
    .dropdown-toggle {
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 4px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }
    .dropdown {
      &:hover {
        background-color: #2e2c2c;
        .dropdown-menu {
          display: block;
          border-radius: 0;
          border-color: #2e2c2c;
          @include box-shadow(none);
        }
      }
    }
    .dropdown-menu {
      background: #2e2c2c;
      margin: 0;
      border-top-right-radius: 0;
      li {
        display: block;
        width: 100%;
      }
      a {
        color: #fff;
      }
    }
    .navbar-brand {
      padding-top: 21px;
      img {
        width: 173px;
      }
    }
  }
}


// Responsive: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) { }

// Responsive: Desktop to large desktop
// --------------------------------------------------
@media (min-width: 992px) and (max-width: 1199px) {

  header {
    .navbar-inverse {
      .navbar-nav > ul > li > a {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

}

// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 991px) {

  header {
    .navbar-inverse {
      min-height: 50px;
      .navbar-nav {
        & > ul {
          & > li > a {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 17px;
            padding-bottom: 16px;
            font-size: 1.2rem;
          }
          & > .last a {
            border: 0;
            padding-top: 17px;
            padding-bottom: 16px;
            margin-left: 0;
            margin-top: 0;
            border-radius: 0;
            &:hover {
              background-color: #423F40;
              color: #fff;
            }
          }
        }
      }
      
      .navbar-brand {
        padding-top: 8px;
        height: 50px;
        img {
          width: 100px;
        }
      }
    }
  }

}

// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {

  header {
    .navbar {
      .navbar-toggle {
        margin-top: 8px;
        margin-bottom: 8px;
        background: #222;
        border-color: #222;
        &:hover {
          background: #222;
        }
        &.collapsed {
          background: transparent;
          border-color: #4D494A;
        }
      }
    }
    .navbar-inverse {
      min-height: 50px;
      .navbar-nav {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        ul {
          padding-top: 20px;
          li {
            display: block !important;
          }
        }
        & > ul > .last a {
          border: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          margin-left: 0;
          margin-top: 0;
          border-radius: 0;
          &:hover {
            background-color: #423F40;
            color: #fff;
          }
        }
      }
      .navbar-brand {
        padding-top: 8px;
        height: 50px;

        img {
          width: 100px;
        }
      }
      .dropdown {
        &:hover {
          .dropdown-menu {
            display: none;
          }
        }
        &.open {
          background-color: #423F40;
          .dropdown-toggle {
            background-color: #423F40;
            border-bottom: 1px solid #555;
          }
          .dropdown-menu {
            display: block !important;
            padding: 10px 0;
            position: static;
            float: none;
            border-radius: 0;
            background-color: #423F40;
            li {
              a {
                padding-left: 30px;
                color: #ccc;
              }
            }
          }
        }
      }
    }
  }

}

// Responsive: Up to landscape phone
// --------------------------------------------------
@media (max-width: 480px) { }

// Responsive: Up to portrait phone
// --------------------------------------------------
@media (max-width: 400px) { }