<footer class="site-footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="company">
        © NuBits 2014–2017
        <ul class="nav">
          <li class="first leaf"><a href="/disclaimer" title="">Disclaimer</a></li>
          <li class="leaf"><a href="/contact" title="">Contact</a></li>
          <li class="leaf"><a href="/press" title="">Press</a></li>
          <li class="leaf"><a href="/jobs" title="">Jobs</a></li>
          <li class="leaf"><a href="/faq" title="">Frequent Questions</a></li>
          <li class="leaf"><a href="/whitepaper" title="">Whitepaper</a></li>
          <li class="leaf"><a href="/source" title="">Source Code</a></li>
          <li class="last leaf"><a href="https://twitter.com/OfficialNuBits" title="">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
