<footer class="site-footer">
  <div class="container">
    <div class="footer-bottom">
      <div class="company">
        © NuBits 2014–2018
        <ul class="nav">
          <li class="first leaf"><a href="/disclaimer">Disclaimer</a></li>
          <li class="leaf"><a href="/contact">Contact</a></li>
          <li class="leaf"><a href="/press">Press</a></li>
          <li class="leaf"><a href="/jobs">Jobs</a></li>
          <li class="leaf"><a href="/whitepaper">Whitepaper</a></li>
          <li class="leaf"><a href="/source">Source Code</a></li>
          <li class="last leaf"><a href="https://twitter.com/OfficialNuBits">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
