<footer class="site-footer">
  <div class="container">
    <div class="wrapper">
      <div class="footer-col link-list">
        <h3>About</h3>
        <ul class="nav">
          <li class="first leaf"><a href="{{ site.baseurl }}/faq" title="">Frequent Questions</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/whitepaper" title="">Whitepaper</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/source" title="">Source Code</a></li>
        </ul>
      </div>
      <div class="footer-col link-list">
        <h3>Tools</h3>
        <ul class="nav">
          <li class="first leaf"><a href="https://explorer.nubits.com" title="">Block Explorer</a></li>
          <li class="last leaf"><a href="https://docs.nubits.com" title="">Documentation</a></li>
        </ul>
      </div>
      <div class="footer-col link-list">
        <h3>Exchanges</h3>
        <ul>
          <li><a href="https://bittrex.com" title="">Bittrex</a></li>
          <li><a href="https://novaexchange.com" title="">Novaexchange</a></li>
          <li><a href="https://alcurex.com" title="">Alcurex</a></li>
          <li><a href="https://bcexchange.org" title="">B&C Exchange</a></li>
        </ul>
      </div>
      <div class="footer-col footer-connect">
        <h3>Connect</h3>
        <ul>
          <li><a href="https://discuss.nubits.com" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/global/icon-nubits.png"><span>Forum</span></a></li>
          <li><a href="https://twitter.com/OfficialNuBits" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/global/icon-twitter.png"><span>Twitter</span></a></li>
          <li><a href="https://reddit.com/r/NuBits" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/global/icon-reddit.png"><span>Reddit</span></a></li>
          <li><a href="https://facebook.com/OfficialNuBits" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/global/icon-facebook.png"><span>Facebook</span></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="company">
        © NuBits 2014–2017
        <ul class="nav">
          <li class="first leaf"><a href="{{ site.baseurl }}/disclaimer" title="">Disclaimer</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/contact" title="">Contact</a></li>
          <li class="leaf"><a href="{{ site.baseurl }}/press" title="">Press</a></li>
          <li class="last leaf"><a href="{{ site.baseurl }}/jobs" title="">Jobs</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
