<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ site.title | escape }} – {{ page.title | escape }}{% else %}{{ site.title | escape }} – World's Best Stable Digital Currencies{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery@1.8.3,modernizr@2.7,respond@1.4,bootstrap@3.2,jquery.blast@1.1.1,jquery.velocity@0.11.9(jquery.velocity.min.js+velocity.ui.min.js)"></script>
  <script type="text/javascript" src="{{ "/js/jquery.scrollmagic.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ "/js/tweenmax.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ "/js/global.js" | prepend: site.baseurl | prepend: site.url }}"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- https://realfavicongenerator.net/favicon_result?file_id=p1btgbmosn13pegn8q1ebssvb06#.WfPpVduB2Aw -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20171028">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20171028">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20171028">
  <link rel="manifest" href="/manifest.json?v=20171028">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=20171028" color="#ffb800">
  <link rel="shortcut icon" href="/favicon.ico?v=20171028">
  <meta name="apple-mobile-web-app-title" content="NuBits">
  <meta name="application-name" content="NuBits">
  <meta name="theme-color" content="#ffb800">
</head>
