<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }} | The World's First Stable Digital Currency{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery@1.8.3,modernizr@2.7,respond@1.4,bootstrap@3.2,jquery.blast@1.1.1,jquery.velocity@0.11.9(jquery.velocity.min.js+velocity.ui.min.js)"></script>
  <script type="text/javascript" src="{{ "/js/jquery.scrollmagic.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/tweenmax.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/global.js" | prepend: site.baseurl }}"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
