<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.baseurl }}/assets/img/global/site-logo.png"></a>
      </div>
      <div class="collapse navbar-collapse navbar-nav navbar-right" id="navbar-primary-collapse">
        <ul class="nav">
            <li><a href="{{ site.baseurl }}/nushares" style="color: #EF3614">NuShares</a></li>
            <li><a href="{{ site.baseurl }}/exchanges">Exchanges</a></li>
            <li><a href="https://explorer.nubits.com/">Block Explorer</a></li>
            <li><a href="https://docs.nubits.com/">Documentation</a></li>
            <li><a href="https://discuss.nubits.com/">Forum</a></li>
            <li class="last"><a href="{{ site.baseurl }}/wallet">Get Wallet</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
