<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.permalink %}page{{ page.permalink | replace: '/','-' }}{% else %}front{% endif %}">

    {% include header.html %}
    
    <div class="page-title-wrapper">
    	<div class="container">
    		<div class="wrapper">
    			<div class="page-title">
    				<nav class="breadcrumb-nav"><ul><li><a href="{{ site.baseurl }}"></a></li><!-- <li><a href="/" title="">{{ page.title }}</a></li> --></ul></nav>
    				<h1>{{ page.title }}</h1>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="container">
      
      {% if page.show_sidebar %}
        <div class="wrapper show-sidebar">
          {% include sidebar.html %}
          <div class="page-content">
            {{ content }}
          </div>
        </div>
      {% else %}
        <div class="wrapper">
          {{ content }}
        </div>
      {% endif %}
      
    </div>

    {% include footer.html %}

  </body>

</html>
